* {
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #CFFFDC;
    margin: 0;
    overflow-x: hidden;
    height: 2400px;
    scrollbar-width: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.7)),
        url('assets/backgroundImage.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 1;
    z-index: -10;
    pointer-events: none;
    filter: brightness(1.2);

}

html {
    scroll-behavior: smooth;
}

/*Parent - nav-bar*/
.nav-bar {
    background-color: rgba(37, 61, 44, 0.8);
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    z-index: 10;
    justify-self: center;
    padding: 10px 30px;
    height: fit-content;
    border-radius: 2px;
    font-weight: bold;
}

.title {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: bisque;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: default;
}

/*Dark Mode Toggle*/
.input {
    visibility: hidden;
}

.label {
    position: absolute;
    justify-content: flex-end;
    width: 80px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
}

.circle {
    width: 34px;
    background-color: #BE5103;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: toggleOff 0.3s linear forwards;

}

.input:checked+.label {
    background-color: #000000;
}

.input:checked+.label .circle {
    animation: toggleOn 0.3s linear forwards;
    background-color: #253D2C;
}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(40px);
    }
}

@keyframes toggleOff {
    0% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}

/*Nav-Bar Options*/
.aboutList {
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    list-style: none;
    list-style-type: none;
    justify-content: space-between;
    color: peachpuff;
    padding-right: 70px;
    padding-left: 70px;
    font-family: monospace;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-radius: 5px;
}

li:hover,
.home:hover,
.about:hover,
.contact:hover {
    color: #BE5103;
    transform: scale(1.1);
}

.home,
.about,
.contact,
.title-link {
    text-decoration: none;
    color: bisque;
    padding: 0px;
    transition: 0.3s;
    border: 10px;
    border-color: #BE5103;
}

.initial-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/*Get Started button*/
.getStarted {
    height: 100px;
    width: 250px;
    font-size: 30px;
    color:#D9D9D9;
    font-weight: lighter;
    background-color: rgba(146, 0, 90, 0.3);
    border-radius: 10px;
    border-color: #253D2C;
    border-width: 3px;
    box-shadow: 6px 6px 10px #660033;
    transition: 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 230px 20px 0px 50px;
    backdrop-filter: blur(4px);
    cursor: pointer;
    font-weight: bold;
}

.getStarted:hover {
    transform: translate(6px, 6px);
    box-shadow: 0 0 0 #660033;
    color: #e00070;
}

/*Quoted Text*/
.quote {
    width: 700px;
    height: 300px;
    max-height: 500px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    float: inline-end;
    /*background: linear-gradient(to right, #29AB87, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;*/
    color: blanchedalmond;
    font-size: 35px;
    border-radius: 20px;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
    margin: 0px 30px 0px 20px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    cursor: default;
    font-weight: lighter;
}

@media screen and (max-width: 500px) {
    .quote {
        width: 40%;
        font-size: 25px;
        height: 250%;
    }

    .getStarted {
        margin: 230px auto 0px 30px;
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .quote {
        width: 50%;
        font-size: 30px;
        height: 200%;
        margin: 230px 80px 230px 0px;
    }

    .getStarted {
        margin: 230px 0px 0px 30px;
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px) {
    .getStarted {
        margin: 230px 100px 0px 100px;
    }
}

@media screen and (max-height: 700px) {
    .quote {
        height: 100%;
        margin-left: 0;
    }

    .getStarted {
        margin-right: 0;
    }
}